.grid {
  background-color: #ddd;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  height: 400px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
  "eight eight eight eight eight eight eight eight"
  "two two two two two two three three"
  "four four five five five five five five"
  "six six five five five five five five"
  "seven seven five five five five five five"
  "one one one one one one one one";

  gap: 10px;
}
.grid div{
    background-color: rgb(0, 179, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid .one{
    grid-area: one;
}
.grid .two{
    grid-area: two;
}
.grid .three{
    grid-area: three;
}
.grid .four{
    grid-area: four;
}
.grid .five{
    grid-area: five;
}
.grid .six{
    grid-area: six;
}
.grid .seven{
    grid-area: seven;
}
.grid .eight{
    grid-area: eight;
}